<head>
  <title>Spike Observations</title>
</head>

<body>

  {{> spikeObservations}}
</body>

<template name="spikeObservations">
	<form id="spike-behaviors-form">
		<ul>
			{{#each spikeBehaviors}}
				{{> spikeBehavior}}
			{{/each}}
		</ul>		
	
		<input type="submit" class="btn btn-primary" id="submit-spike-behaviors">
	</form>



</template>

<template name="spikeBehavior">
	<li>
		{{behavior}}
		<input type="radio" class="focus-observation-radio" name="focus-observation-{{behavior}}" value="false">
		<input type="radio" class="focus-observation-radio" name="focus-observation-{{behavior}}" value="true">
	</li>

</template>