<head>
  <title>Spike Observations</title>
</head>

<body>

  {{> spikeObservations}}
</body>

<template name="spikeObservations">
	<form id="spike-behaviors-form">
		<ul>
			{{#each spikeBehaviors}}
				{{> spikeBehavior}}
			{{/each}}
		</ul>		
	
		<input type="submit" class="btn btn-primary" id="submit-spike-behaviors">
	</form>



</template>

<template name="spikeBehavior">

	<li>
		
  	<p class="spike-behavior">{{behavior}}</p>
    <div class="switch">
      <input type="radio" class="switch-input" name="focus-observation-{{behavior}}" value="true" id="focus-observation-true-{{behavior}}">
      <label for="focus-observation-true-{{behavior}}" class="switch-label switch-label-off">YES</label>
      <input type="radio" class="switch-input" name="focus-observation-{{behavior}}" value="false" id="focus-observation-false-{{behavior}}">
      <label for="focus-observation-false-{{behavior}}" class="switch-label switch-label-on">NO</label>
      <span class="switch-selection"></span>
    </div>

	</li>
</template>