ul{
  list-style: none;
}

.spike-behavior{
  vertical-align: bottom;
  display: inline-block;
}

.switch {

  font-family: 'Lucida Grande', Verdana, sans-serif;
  position: relative;
  height: 26px;
  width: 120px;
  display: inline-block;
  margin: 10px 0 0 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  transition: 0.15s ease-out;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
}

.switch-input:checked ~ .switch-selection {
  display: block;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: none;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;

  background-image: linear-gradient(top, #9dd993, #65bd63);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);

  transition: left 0.15s ease-out;
}